.choice-container {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    font-size: 20px;
    border: 2px solid rgb(86, 165, 235, 0.25);
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 10px 25px 0 rgba(86,185,225,1);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 20px 35px;
    background-color: #56a5eb;
    color: white;
  }
  
  .choice-text {
    padding: 25px;
  }

  #quesiton{
      font-size: 26px;
      margin-bottom: 10px;
  }