*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(219, 211, 211);
    background-image: url("https://vignette.wikia.nocookie.net/impossible-quiz/images/5/50/Wiki-background/revision/latest?cb=20180430040110");
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin:0 auto;
}

h1{
    font-size: 60px;
    color:darkgray;
    margin-bottom: 100px;
    text-align: center;
}

.flex-coloumn{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }

  /*buttons*/

.btn{
    background-color: white;
    text-decoration: none;
    padding: 20px 33px;
    text-align: center;
    margin-bottom: 8px;
    border:1px solid rgb(98, 98, 226);
    width: 100%;
    font-size: 20px;
    color:rgb(73, 70, 70);
}

.btn:hover{
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 10px 25px 0 rgb(40, 42, 43);
    transition: transform 150ms;
    
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* FORMS */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 13px;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  }
  
  input::placeholder {
    color: #aaa;
  }
  

 .btn12{
   display: flex;
   flex-direction: column;
 }